{% extends 'base.html.twig' %}

{% block title %}Liste des pays{% endblock %}

{% block body %}

<div class="text-center">
<h1>Liste des pays</h1>
</div>

<table class="table mt-5">
    <thead>
        <tr>
            <th>#</th>
            <th>Pays</th>
        </tr>
    </thead>
    <tbody>
    {% for country in countrys %}
        <tr>
            <td>{{ country.id }}</td>
            <td>{{ country.name }}</td>
        </tr>
    {% else %}
        <tr>
            <td colspan="3">no records found</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}
